/* root */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #f3f5f9;
}

a{
  color:#0066ff;
}

h2, h4 {
  font-weight: 700;
  margin: 15px 0;
}

p {
  line-height: 25px;
  font-size: 1em;
}

._center {
  text-align: center;
}

._pad {
  padding: 20px;
}

a:focus, a:hover {
  text-decoration: none;
}

.bg_white {
  background-color: white;
}

input[type="radio"]{
  border: 5px solid #004c97;
}

ul li {
  list-style: none;
  text-align: left;
}

/* navbar header */
          /* media */
@media all and (max-width: 768px){
  .control_icon span{
    display: none;
  }
}


@media (min-width: 768px) and (max-width: 1000px) {
   .navbar-collapse.collapse {
       display: none !important;
   }
   .navbar-toggle{
        display: block !important;
   }
   .navbar-header{
        float: none;
   }

}

      /* media  close */

#sing_up {
  border-color: blue;
  border: 1px solid;
  color: grey;
}

.btn-default{
  border-color: #2686fd;
  color: #2686fd;
}

.btn-default:hover{
  background-color: #2686fd;
  border-color: #2686fd;
  color: #ddd;
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand img {
  max-height: 20px;
}

.white-color {
  color: white;
}

header {
  padding: 70px 0 30px;
  background-image: url("../img/jumbo.svg");
}

section , footer{
  padding: 50px 0 ;
}

.c_jumbo {
  color: white;
  padding: 20px;
}

.c_jumbo h1 {
  font-size: 55px;
}

#blue_button {
  background-color: #0068ff;
}

#blue_button:hover{
  opacity: 0.7;
}

li._center:hover{
  background-color: #0068ff;
  opacity: 0.7;
}

#sign_up:hover{
  color: white;
}

.n_jumbotron {
  background-color: white;
  padding: 30px 20px;
  border-radius: 5px;
  margin: 40px 0;
}

.n_jumbotron>h2, .n_jumbotron>a {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 30px;
  text-align: center
}

form ul li>a>img {
  height: 20px;
  float: left;
}

form>ul li>input {
  border: none;
}

form>span {
  text-align: center;
}

form div>span>a {
  text-decoration: underline;
}

#sign_up {
  color: #ccc;
}

form>ul li {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* loghi e sponsor     */
.logo-sponsor>img {
  width: 49%;
}

.logo-sponsor {
  line-height: 130px;
}

/* deploy seamlessly */
.aside_nav li {
  border-left: 3px solid lightgrey;
  color: grey;
  padding: 10px;
  ;
}

/* designed for developers */
._title {
  margin-bottom: 50px;
}

.img_carousel  {
  max-width: 500px;
}

.img_carousel img{
  max-width: 100%;
}

.control_icon, .img_carousel {
  display: inline-block;
  vertical-align: middle;
}

.control_icon{
  font-size: 2em;
  color: grey;
  padding: 0 20px;
}

.control_icon:hover {
  color: blue;
}

/* features business */

div a > span{
  margin-left: 10px;
  vertical-align: middle;
}

/* table section */

._table{
  background-image: radial-gradient(#2a35b0 100% , #fff 0% );
}

.table>tbody>tr>td{
  color: #ddd;
  border-top: 0;
  border-bottom:2px solid lightgrey;
}

.table>tbody>tr>td:first-child{
  color:white;
  font-weight: bold;
}

/* rockerbox section */

.img_carousel.bg_white {
  padding: 60px 20px;
  max-width: 40%;
}

.img_carousel.bg_white img, .img_carousel.bg_white h6{
  margin-bottom: 25px;
}


._radio-server{
  margin-top: 20px;
}

section._center.white-color{
  background-image: radial-gradient(#2a35b0 100% , #fff 0% );
}

section._center.white-color div > a{
  border-radius: 5px;
  padding:10px 20px;
}

section._center.white-color div > h2{
  margin-bottom: 30px;
}
/* footer */

footer{
  background-color: #171e6c ;
  color: #ccc;
}

footer div > img{
  margin-bottom: 10px;;
}
